<div class="container">
	<h1>Перечень чек-листов</h1>
</div>
<!-- <form class="container" [formGroup]="checkoutForm" (ngSubmit)="add()">
	<div class="form-group">
		<label for="name">Name: </label>
		<input id="name" type="text" class="form-control" formControlName="name">
		<button class="btn btn-primary">Submit</button>
	</div>
</form> -->
<div class="container">
	<mat-form-field>
		<mat-label>Filter</mat-label>
		<input matInput (keyup)="applyFilter($event)" placeholder="Фильтр" #input>
	</mat-form-field>
	<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

		<!-- Position Column -->
		<ng-container matColumnDef="equipment_id">
			<th mat-header-cell *matHeaderCellDef> equipment_id </th>
			<td mat-cell *matCellDef="let element"> 
				<div>
					{{element.equipment_id}} 
					<button (click)="removeGroup(element.equipment_id)">Удалить</button>
				</div>
			</td>
		</ng-container>

		<!-- Position Column -->
		<ng-container matColumnDef="check_list">
			<th mat-header-cell *matHeaderCellDef> id+requirement+действие </th>
			<td mat-cell *matCellDef="let element">
				<div class="check_list">		
					<ng-container *ngFor="let item of element.check_list">
						<table>
							<tr>
							  <td>{{item.id}}</td>
							  <td>
								<mat-form-field floatLabel="never">
									<input matInput (onchange)="refresh()" placeholder="item.requirement" [value]="item.requirement" [(ngModel)]="item.requirement">
							    </mat-form-field>
							  </td>
							  <td><button (click)="removeRow(item.id)">Удалить</button></td>
							</tr>
						  </table>
					</ng-container>
				</div> 
			</td>
		</ng-container>
			
		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
			<tr class="mat-row" *matNoDataRow>
			<td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
		</tr>
  	</table>
</div>
